body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, rgb(15, 3, 44) 0%, rgb(7, 105, 89) 100%);
  color: white;
  min-height: 100vh;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin-top: 40px;
  background-color: rgba(29, 28, 28, 0.3);
  padding: 15px;
}

.square {
  width: 56px;
  height: 56px;
  background: rgb(48, 33, 33);
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
}

.gradient-border .square:hover:not(.active) {
  box-shadow: 0px 0px 5px rgb(228, 222, 222);
}

.gradient-border.active {
  box-shadow: 0px 0px 5px rgba(228, 222, 222, 0.5);
}

.gradient-border {
  padding: 2px;
  margin: 5px;
}

.square.red {
  background-image: url("./images/bomb.png");
  background-size: cover;
}

.square.green {
  background-image: url("./images/flower.png");
  background-size: cover;
}

.game-info-container {
  display: grid;
  place-items: center;
}

.game-info-container a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.game-info {
  margin-bottom: 8px;
  background: rgba(16, 197, 128, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  width: 450px;
  border-radius: 10px;
  color: white;
  position: relative;
  cursor: pointer;
}

.game-info:hover {
  border: 2px solid rgba(160, 168, 167, 0.6);
}

.game-info:hover .game-number {
  background: rgb(6, 155, 130);
}

.game-number {
  height: 30px;
  min-width: 30px;
  width: fit-content;
  padding: 5px;
  background: rgb(43, 44, 49);
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 8px 0px 0px 0px;
  display: grid;
  place-items: center;
  font-size: 15px;
  font-weight: 700;
}

.game-name {
  text-align: center;
  margin: 8px;
}

.game-address {
  text-align: center;
  margin: 20px;
}

.game-container {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.game-creation {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: fit-content;
}

.game-creation button {
  padding: 12px 10px;
  min-width: 131px;
  background: rgb(6, 155, 130);
  border: none;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.game-creation button:hover {
  background: rgb(12, 192, 162);
}

.no-games-text {
  width: fit-content;
  margin: auto;
}

.account-details {
  padding: 16px 16px;
}

.account-details p {
  width: fit-content;
  margin: 0;
  display: inline-block;
}

.account-balance {
  float: right;
}

.loading-game-text {
  margin: auto;
  width: fit-content;
  margin-top: 100px;
}

.wallet-connect-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet-connect-container .temporary-connect,
.keplr-connect {
  width: 230px;
  height: 230px;
  background: rgb(12, 117, 112);
  font-size: 1.1em;
  font-weight: bold;
  margin: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: font-size 0.6s;
}

.wallet-connect-container .temporary-connect:hover,
.keplr-connect:hover {
  background: rgb(41, 44, 44);
  font-size: 1.15em;
}

.show-all-games-button {
  margin-left: 16px;
}

.join-button {
  min-width: 105px;
}

.join-button,
.show-all-games-button,
.rematch-button {
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  background: rgb(51, 48, 48);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.join-button:hover,
.show-all-games-button:hover,
.rematch-button:hover {
  background: rgb(14, 160, 111);
}

.copy-icon {
  margin-left: 8px;
  color: rgb(231, 220, 220);
  cursor: pointer;
}

.account-address {
  color: rgb(14, 182, 204);
}

.copy-icon:hover {
  box-shadow: 0px 0px 15px rgb(14, 182, 204);
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0px 15px;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 60px;
  height: fit-content;
  width: fit-content;
  background: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  max-width: 500px;
}

.notification.success {
  background: rgba(2, 118, 196, 0.6);
}

.notification:not(.success) {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="font-size: 18px;"><text y="15">😬</text></svg>'),
    auto;
}

.notification-text {
  text-align: center;
  word-break: break-word;
  padding: 10px 10px;
  width: 100%;
}

.notification-icon {
  font-size: 30px;
}
