body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.square {
  width: 60px;
  height: 60px;
  background: rgb(233, 229, 229);
  margin: 5px;
  border: 2px solid black;
  box-sizing: border-box;
}

.square.red {
  background: rgb(236, 5, 5);
}

.square.green {
  background: greenyellow;
}

.game-info {
  margin: auto;
  margin-bottom: 5px;
  background: rgb(63, 52, 52);
  padding: 5px 10px;
  width: 450px;
  border-radius: 10px;
  color: white;
}
